<div class='row' style='padding-top: 1rem;'>
	<div class='col s12'>
		<ul class='tabs'>
			<li class='tab col s6'><a class='active' href='#login'>Sign in</a></li>
			<li class='tab col s6'><a href='#signup'>Sign up</a></li>
		</ul>
	</div>
	<div id='login' class='col s12'>
		<form
			action='/auth/signin'
			method='POST'
			class='col s6'
			style='display: flex; flex-direction: column;'
		>
			<div class='input-field col'>
				<input
					placeholder='Email'
					name='email'
					id='email'
					type='email'
					class='validate'
					required
				/>
				<label for='email'>Your email:</label>
				<span
					class='helper-text'
					data-error='Enter valid email'
					data-success='right'
				></span>
			</div>
			<div class='input-field col'>
				<input
					placeholder='Password'
					name='password'
					id='password'
					type='password'
					class='validate'
					minlength="6"
					maxlength="56"
					required
				/>
				<label for='password'>Password: </label>
				<span
					class='helper-text'
					data-error='Enter password, password can not be less than 6 symbols or more than 56'
					data-success='right'
				></span>
			</div>
			<input type='hidden' name='_csrf' value='{{@root.csrf}}' />
			<button
				class='btn waves-effect waves-light'
				style='width: 120px; margin: 0 auto;'
				type='submit'
			>Sign in
				<i class='material-icons right'>enter</i>
			</button>

			{{#if loginError}}
				<p class='alert'>{{loginError}}</p>
			{{/if}}

			<a
				href='resetPassword'
				style='background-color: #2688a6; margin: 20px auto ; width: 220px;'
				class='btn waves-effect waves-light'
				style='width: 120px; margin: 0 auto;'
				type='submit'
			>Forget password?
				<i class='material-icons right'>vpn_key</i>
			</a>
		</form>
	</div>

	<div id='signup' class='col s12 offset-s6'>
		<form
			action='/auth/signup'
			method='POST'
			class='col s6'
			style='display: flex; flex-direction: column;'
		>
			<div class='input-field col'>
				<input
					placeholder='Your name'
					name='userName'
					id='userName'
					type='text'
					class='validate'
					required
				/>
				<label for='userName'>Your name:</label>
				<span
					class='helper-text'
					data-error=' Please enter your name'
					data-success='right'
				></span>
			</div>
			<div class='input-field col'>
				<input
					placeholder='Email'
					name='email'
					id='email_up'
					type='email'
					class='validate'
					{{!-- required --}}
				/>
				<label for='email'>Your email:</label>
				<span
					class='helper-text'
					data-error='Enter valid email'
					data-success='right'
				></span>
			</div>
			<div class='input-field col'>
				<input
					placeholder='Password'
					name='password'
					id='password_up'
					type='password'
					class='validate'
					minlength="6"
					maxlength="56"
					required
				/>
				<label for='password'>Password: </label>
				<span
					class='helper-text'
					data-error='Enter password, password can not be less than 6 symbols or more than 56'
					data-success='right'
				></span>
			</div>
			<div class='input-field col'>
				<input
					placeholder='Repeat password'
					name='repeat_password'
					id='repeat_password'
					type='password'
					class='validate'
					minlength="6"
					maxlength="56"
					required
				/>
				<label for='password'>Repeat password: </label>
				<span
					class='helper-text'
					data-error='Repeat password, password can not be less than 6 symbols or more than 56'
					data-success='right'
				></span>
			</div>
			<input type='hidden' name='_csrf' value='{{@root.csrf}}' />
			<button
				class='btn waves-effect waves-light'
				style='width: 120px; margin: 0 auto;'
				type='submit'
			>Sign up
				<i class='material-icons right'>enter</i>
			</button>

			{{#if signupError}}
				<p class='alert'>{{signupError}}</p>
			{{/if}}

		</form>
	</div>
</div>