<div class='row' style='padding-top: 1rem;'>

	<div id='reset'>
		<h4>Forget password?</h4>
		<form
			action='/auth/resetPassword'
			method='POST'
			class='col'
			style='display: flex; flex-direction: column;'
		>
			<div class='input-field col'>
				<input
					placeholder='Email'
					name='email'
					id='email'
					type='text'
					class='validate'
					required
				/>
				<label for='email'>Your email:</label>
				<span
					class='helper-text'
					data-error='Enter valid email'
					data-success='right'
				></span>
			</div>

			<input type='hidden' name='_csrf' value='{{@root.csrf}}' />
			<button
				class='btn waves-effect waves-light'
				style='width: 180px; margin: 0 auto;'
				type='submit'
			>Reset password
				<i class='material-icons right'>enter</i>
			</button>

			{{#if resetError}}
				<p class='alert'>{{resetError}}</p>
			{{/if}}

		</form>
	</div>

</div>