  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"> <i class="material-icons prefix">web</i>What's tech?</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li class="{{#if isHome}}active{{/if}}"><a href="/">Home</a></li>
        
        <li class="{{#if isStack}}active {{/if}}"><a href="/stack">Stack</a></li>

        <li class="{{#if isAdd}}active{{/if}}  "><a href="/learningList">Learning List</a></li>

        <li class="{{#if isAdd}}active{{/if}}  "><a href="/add">Add technology</a></li>
        
      </ul>
    </div>
  </nav>